    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <head>
            <h2><i>{{ erreur }}</i></h2>
            <h1>Ma segond page</h1>
        </head>
        <main>
            <p>mon text ici</p>
        </main>
        <footer>
            <p>Copyright : magicmaker</p>
        </footer>
    </body>
    </html>