<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col bg-gradient-to-b from-black to-blue-950 min-h-screen text-white">
    <header class="flex items-center gap-4 px-6 py-4">
        <div class="">
            <img src="static/telescope_geant.jpg" class="object-scale-down max-w-24">
        </div>
        <div>
            <h2>Quelle étoile es-tu ?</h2>
            <h2 class="text-sm">Tu brilles... mais quelle est ta lumière ?</h2>
        </div>
    </header>

    <main class="flex-1 flex flex-col items-center justify-center mb-24 gap-4">
        <div><img src="static/planete.png" class="max-w-64"></div>
        <div class="flex items-center justify-center gap-24">
            <div>*</div>
            <div class="border border-slate-50 rounded-lg p-4">
                <a href="/questions"><b>Lancer le quiz quelle etoile est tu?</b></a>
            </div>
            <div>*</div>
        </div>
    </main>

    <footer class="flex justify-center py-4 bg-gradient-to-b from-blue-950 to-slate-50 gap-64">
        <p>🌑🌒🌓🌔</p>
        <p>🪐🪐🪐🪐</p>
        <p>☀️☀️☀️☀️</p>
        <p>🌏🌏🌏🌏</p>
    </footer>
</body>

</html>