<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quelle star es tu ?</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <div class="divtitre">
    <h1 class="titre">Le Grand Test de personalité</h1>
    </div >
    <div class="main-content">
        <div class="card">
            <h1>On sest tous demandé quel développeur on était</h1>
            <p>Mais lequelle es-tu ?</p>
            <a href="/question" class="test-link">Fais le test pour la découvrir!</a>
        </div>
    </div>
    <div class="expli">
        <h3>C'est quoi le test ?</h3>
       
        <p>Le test est une série de questions qui t'aidera à découvrir ton style de développement.Pour découvrir si tu es plus Python , HTML, CSS ou C++.</p>
        <div class="images-container">
            <img src="/static/html.png" alt="Image de développeur" class="image">
            <img src="/static/css.png" alt="Image de développeur" class="image">
            <img src="/static/python.png" alt="Image de développeur" class="image">
            <img src="/static/C.png" alt="Image de développeur" class="image">
            <img src="/static/java.png" alt="Image de développeur" class="image">
            <img src="/static/php.png" alt="Image de développeur" class="image">
        </div>
    </div>



    
</body>
</html>